@model IEnumerable<DocSearch2._1.ViewModels.PublicVM>

<table class="table">
    <tr>
        <!--NEED EDITABLE Direction-->
        <!--NEED EDITABLE Recipient-->
        <!--NEED EDITABLE Recieved On-->
        <th>
            @Html.DisplayNameFor(model => model.Document_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentTypeName)
        </th>
        <th><!--EDITABLE-->
            @Html.DisplayNameFor(model => model.IssueDate)
        </th>
        <th><!--EDITABLE-->
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.RefNumber)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.FileType)
        </th>*@
        <th><!--EDITABLE-->
            @Html.DisplayNameFor(model => model.Method)
        </th>
        <th><!--EDITABLE-->
            @Html.DisplayNameFor(model => model.Originator)
        </th>
        <th><!--EDITABLE-->
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>*@
        <th>Direction</th>
        <th>Recepient</th>
        <th>Recieved On</th>
        <th>Delete</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Document_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssueDate)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Description)*@
            @Html.TextAreaFor(modelItem => item.Description, new { @class = "form-control", rows = "3"})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.EffectiveDate)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.RefNumber)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.FileType)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Method)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Originator)*@
            @Html.TextBoxFor(modelItem => item.Originator)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Reason)*@
            @Html.DropDownListFor(modelItem => item.Reason, new List<SelectListItem> {

                new SelectListItem { Value = "0", Text = "Cancel/Lapse" },
                new SelectListItem { Value = "1", Text = "Endorse" },
                new SelectListItem { Value = "0", Text = "Renew" },
                new SelectListItem { Value = "0", Text = "Quote" },
                new SelectListItem { Value = "0", Text = "New" },
                new SelectListItem { Value = "0", Text = "Statement" },
                new SelectListItem { Value = "0", Text = "Reissue" },
                new SelectListItem { Value = "0", Text = "Other" }

            }, item.Reason, null)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Supplier)
        </td>*@
        <td></td>
        <td></td>
        <td></td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}
</table>
<button>Submit</button>