@model IEnumerable<PublicVM>

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="edit-table table">
        <thead>
            <tr class="edit-rows">
                <th>
                    @Html.DisplayNameFor(model => model.First().Document_ID)
                    <br />
                    @Html.DisplayNameFor(model => model.First().CategoryName)
                    <br />
                    @Html.DisplayNameFor(model => model.First().DocumentTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Document_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().DocumentTypeName)
                </th>
                <th>
                    <!--EDITABLE-->
                    @Html.DisplayNameFor(model => model.First().IssueDate)
                </th>
                <th>
                    <!--EDITABLE-->
                    @Html.DisplayNameFor(model => model.First().Description)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.EffectiveDate)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.RefNumber)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.FileType)
                    </th>*@
                <th>
                    <!--EDITABLE-->
                    @Html.DisplayNameFor(model => model.First().Method)
                </th>
                <th>
                    <!--EDITABLE-->
                    @Html.DisplayNameFor(model => model.First().Originator)
                </th>
                <th>
                    <!--EDITABLE-->
                    @Html.DisplayNameFor(model => model.First().Reason)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Supplier)
                    </th>*@
                @*<th>Direction</th>*@
                <th>
                    @Html.DisplayNameFor(model => model.First().Recipient)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.First().FileType)
                </th>*@
                @*<th>Recieved On</th>*@
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @Html.EditorFor(model=>Model)
        </tbody>
    </table>

    <input type="submit" value="Update"/>
}
