@model IEnumerable<PublicVM>

@{
    ViewBag.Title = "Edit1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit1</h2>

@using (Html.BeginForm("Edit1", "Admin", FormMethod.Post))
{
    @*@Html.AntiForgeryToken()*@

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Folder_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Document_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentType_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IssueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EffectiveDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Method)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Originator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hidden)
                </th>
            </tr>
        </thead>
        <tbody id="childtable">
                @Html.EditorFor(model => Model)
        </tbody>
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}
@Html.ValidationSummary()
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
