@model IPagedList<PublicVM>
@*@model IEnumerable<DocSearch2._1.ViewModels.PublicVM>*@

<div id="publicTable">

    <table id="public_table" class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToList().First().Document_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToList().First().RefNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToList().First().CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToList().First().DocumentTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToList().First().IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToList().First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToList().First().EffectiveDate)
            </th>
        </tr>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Document_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RefNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EffectiveDate)
                </td>
            </tr>
        }
    </table>

    <div class="pagedList" data-otf-target="#publicTable">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, publicId = Model.First().Folder_ID }),
            PagedListRenderOptions.MinimalWithItemCountText)
    </div>
</div>

