@model IPagedList<PublicVM>

<div id="public_table" class="row">
    <div id ="public_table_inner" class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead class="thead-default">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ToList().First().DocumentTypeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToList().First().IssueDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToList().First().EffectiveDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToList().First().Description)
                    </th>
                    <th>File</th>
                    <th>...</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EffectiveDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>@Html.ActionLink("File", "FileDisplay", new { documentId = item.Document_ID }, new { target = "_blank" }) </td>
                    <td>OPEN ME</td>
                </tr>
            }
        </table>

        <div class="pagedList col-md-6 col-md-offset-3" data-otf-target="#public_table">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, publicId = Model.First().Folder_ID }),
            PagedListRenderOptions.MinimalWithItemCountText)
        </div>
    </div>

</div>

