@model IPagedList<PublicVM>

@{
    ViewBag.Title = "Westland Archive System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main-row" class="row">
    <nav id="public_navigation" class="navbar navbar-default col-md-2">

        <div class="div-table">
            <div class="nav-button row">
                <span class="col-md-5">Categories</span>
                <div class="cat_pol_switcher col-md-4">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox" id="category_policy_toggle">
                        <div class="slider round"></div>
                    </label>
                </div>
                <span class="col-md-3">Policies</span>
            </div>
        </div>


        <div class="nav_lists_outer row">
            <div class="nav_lists col-md-12">

                @* Need a better way to place this JS *@
                <script type="text/javascript">
                    //adjust table for subnav column, also clears input fields
                    function postNavbar() {

                        $className = $('.active').children("a").data("subclass");
                        $classNameTitle = $('.active').children("a").data("subclass-title");

                        //first if statement checks if $className has a value or is undefined
                        if ($className) {
                            if ($classNameTitle == "Correspondence") {
                                $('#public_table').removeClass().addClass("correspondence");
                            } else if ($classNameTitle == "Declaration/Endorsement") {
                                $('#public_table').removeClass().addClass("declaration");
                            } else {
                                $('#public_table').removeClass().addClass($className);
                            }
                        }

                        //need to check for form submit, then not do clearFields
                        if ($(this).hasClass('navLink') || $(this).hasClass('button')) {

                            clearFields();
                        }

                        updateCurrentCount();
                    }

                    //function to clear table/navbar/form to look like original content
                    function clearFields(id) {

                        $form = $('form');
                        $form.find("input[type=search]").val("");

                        $form.find(".form-inputs select option").removeAttr('selected');
                        
                        $form.find("#IssueYearMinRange option:eq(0)").prop("selected", true);
                        $form.find("#IssueYearMaxRange option:eq(0)").prop("selected", true);

                        //may want to be more specific with check //having issues with this since updating the reset button
                        if (id == "clearButton") {
                            $form.find("#fromYear option:eq(0)").prop("selected", true);
                            $(".active").removeClass('active');
                        }

                        $('#searchInputBox').focus();

                        //need to figure out how to update status bar years
                        //maybe change jquery connection for year status bar to look for selected option instead of current style
                    }

                    function updateCurrentCount() {

                        var currentCount = $('#public_table').data('currentrecord');

                        var currentLowYear = $('#IssueYearMinRange option:selected').val();
                        var currentHighYear = $('#IssueYearMaxRange option:selected').val();

                        if (currentLowYear.length > 0) {
                            //takes user input
                            $('#currentLowYear').text(currentLowYear);
                        } else {
                            //defaults back to original low
                            currentLowYear = $('#IssueYearMinRange option:eq(1)').val();
                            $('#currentLowYear').text(currentLowYear);
                        }

                        if (currentHighYear.length > 0) {
                            $('#currentHighYear').text(currentHighYear);
                        } else {
                            currentHighYear = $('#IssueYearMaxRange option:last').val();
                            $('#currentHighYear').text(currentHighYear);
                        }

                        $('#currentCount').text(currentCount);
                    }

                </script>

                @Html.Partial("~/Views/Shared/_CategoryNavBar.cshtml", Model)

                <div id="policy_section" class="hidden">
                    <ul id="policy_list">
                        <!--need to check for no reference number documents with the policy !- null-->
                        @foreach (var policy in ViewBag.PolicyNavBar)
                        {
                            if (policy != null && policy.Length > 0)
                            {
                                <li>
                                    <a href="@Url.Action("Index", "PublicVM", new
                                        {
                                            //publicId = Model.First().Folder_ID,
                                            publicId = TempData["Folder_Id"],
                                            policyNumber = policy,
                                            subNav = subNavOptions.policy,
                                            prevNav = @policy
                                        })"
                                       class="navLink"
                                       data-ajax-update="#public_table"
                                       data-ajax-mode="replace-with"
                                       data-ajax-method="GET"
                                       data-subclass="policy"
                                       data-subclass-title="@policy"
                                       data-ajax-complete="postNavbar"
                                       data-ajax-success="updateCurrentCount"
                                       data-ajax="true">
                                        @policy
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div><!--nav_lists col-md-12-->
        </div><!--nav_lists_outer row-->
    </nav>

    <div id="public_info" class="col-md-10">

        @Html.Partial("_Form", Model)
        @Html.Partial("_PublicTable", Model)
    </div>
<div class="c_b"></div>
</div>