@model IPagedList<PublicVM>
@*@model IEnumerable<DocSearch2._1.ViewModels.PublicVM>*@

@{
    ViewBag.Title = "Westland Archive System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="body">

    <div id="public_navigation">

        <p>Category/Policy</p>
        <!-- Rounded switch -->
        <label class="switch">
            <input type="checkbox" id="category_policy_toggle">
            <div class="slider round"></div>
        </label>

        <ul id="category_list">
            <li>Category</li>
            @foreach (var item in Model.GroupBy(m => m.CategoryName).Select(g => g.First()))
            {
                <li><a href="#">@item.CategoryName</a></li>
            }
        </ul>

        <ul id="policy_list" class="hidden">
            <li>Policy Number</li>
            @foreach (var item in Model.GroupBy(m => m.RefNumber).Select(g => g.First()))
            {
                <li><a href="#">@item.RefNumber</a></li>
            }
        </ul>

    </div>

    <div id="public_info">
        <h2>@TempData["Person_Name"]</h2>

        <form method="get" action="@Url.Action("Index")"
              data-otf-ajax="true" data-otf-target="#publicTable">
            <input type="hidden" name="publicId" value="@Model.First().Folder_ID" />
            <input type="search" name="searchTerm" />
            <input type="submit" value="Search Description" />
        </form>

        <!--Easy way of doing ajax call, but not as easily customizable-->
        @*@using (Ajax.BeginForm("Index", "PublicVM", null,
                new AjaxOptions
                {
                    HttpMethod = "get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "public_table"
                }))
        {
            <input type="hidden" name="publicId" value="@Model.First().Folder_ID" />
            <input type="search" name="searchTerm" />
            <input type="submit" value="Search Description" />
        }*@

        <!--Below is the synchronous way of making the search, probably wont use-->
        @*<form method="get">
            <input type="hidden" name="publicId" value="@Model.First().Folder_ID" />
            <input type="search" name="searchTerm" />
            <input type="submit" value="Search" />
        </form>*@ <!--Should do using html helpers over basic html-->

        @*@using (Html.BeginForm("Index", "PublicVM", FormMethod.Get)) {
            @Html.Hidden("Folder_Id")
            @Html.TextBox("searchTerm")
            <input type="submit" value="Search" />
        }*@

        @Html.Partial("_PublicTable", Model)

    </div>
</div>

@section CustomScripts{
    <script>
        (function () {
            $('#category_policy_toggle').click(function () {
                $("#category_list, #policy_list").toggleClass("hidden");
            })
        })();
    </script>  
}