@model IPagedList<PublicVM>

@{
    ViewBag.Title = "Westland Archive System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id ="main-row" class="row">
    <nav id="public_navigation" class="navbar navbar-default col-md-2">

        <div class="div-table">
            <div class="nav-button row">
                <span class="col-md-5">Categories</span>
                <div class="cat_pol_switcher col-md-4">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox" id="category_policy_toggle">
                        <div class="slider round"></div>
                    </label>
                </div>
                <span class="col-md-3">Policies</span>
            </div>
        </div>


        <div class="nav_lists_outer row">
            <div class="nav_lists col-md-12">

                @* Need a better way to place this JS *@
                <script type="text/javascript">
                    //adjust table for subnav column, also clears input fields
                    function postNavbar() {
                        $className = $('.active').children("a").data("subclass");
                        $classNameTitle = $('.active').children("a").data("subclass-title");

                        //first if statement checks if $className has a value or is undefined
                        if ($className) {
                            if ($classNameTitle == "Correspondence") {
                                $('#public_table').removeClass().addClass("correspondence");
                            } else if ($classNameTitle == "Declaration/Endorsement") {
                                $('#public_table').removeClass().addClass("declaration");
                            } else {
                                $('#public_table').removeClass().addClass($className);
                            }
                        }

                        //need to check for form submit, then not do clearFields
                        if ($(this).hasClass('navLink') || $(this).hasClass('button')) {
                            clearFields();
                        }
                    }

                    //function to clear table/navbar/form to look like original content
                    function clearFields() {

                        $form = $('form');
                        $form.find("input[type=search]").val("");

                        $form.find("select option").removeAttr('selected');
                        $form.find("#IssueYearMinRange option:eq(0)").prop("selected", true);
                        $form.find("#IssueYearMaxRange option:eq(0)").prop("selected", true);

                        //may want to be more specific with check
                        if ($(this).prop('tagName') == "A") {
                            $(".active").removeClass('active');
                        }

                        $('#searchInputBox').focus();

                        //need to figure out how to update status bar years
                        //maybe change jquery connection for year status bar to look for selected option instead of current style
                    }

                    function updateCurrentCount() {

                        var currentCount = $('#public_table').data('currentrecord');
                        var currentLowYear = $('#IssueYearMinRange option:selected').val();
                        var currentHighYear = $('#IssueYearMaxRange option:selected').val();

                        if (currentLowYear.length > 0) {
                            //takes user input
                            $('#currentLowYear').text(currentLowYear);
                        } else {
                            //defaults back to original low
                            currentLowYear = $('#IssueYearMinRange option:eq(1)').val();
                            $('#currentLowYear').text(currentLowYear);
                        }

                        if (currentHighYear.length > 0) {
                            $('#currentHighYear').text(currentHighYear);
                        } else {
                            currentHighYear = $('#IssueYearMaxRange option:last').val();
                            $('#currentHighYear').text(currentHighYear);
                        }

                        $('#currentCount').text(currentCount);
                    }

                </script>

                @*<div id="category_section">
                    <h2>Categories</h2>

                    <ul id="category_list">
                        @foreach (var item in ViewBag.CategoryNavBar)
                        {
                            <li class="category_nav">
                                <div>
                                    <a href="@Url.Action("Index", "PublicVM", new {
                                            publicId = Model.First().Folder_ID,
                                            subNav = subNavOptions.category,
                                            prevNav = @item.CategoryName
                                        })"
                                       class="navLink"
                                       data-ajax-update="#public_table"
                                       data-ajax-mode="replace-with"
                                       data-ajax-method="GET"
                                       data-subclass="category"
                                       data-subclass-title="@item.CategoryName"
                                       data-ajax-complete="postNavbar"
                                       data-ajax-success="updateCurrentCount"
                                       data-ajax="true">
                                        @item.CategoryName
                                    </a>
                                    <ul id="docType_list">
                                        @foreach (var dt in item.DocumentTypeName)
                                        {
                                            <li>
                                                <a href="@Url.Action("Index", "PublicVM", new {
                                                        publicId = Model.First().Folder_ID,
                                                        subNav = subNavOptions.doctype,
                                                        prevNav = @dt
                                                    })"
                                                   class="navLink"
                                                   data-ajax-update="#public_table"
                                                   data-ajax-mode="replace-with"
                                                   data-ajax-method="GET"
                                                   data-subclass="doctype"
                                                   data-subclass-title="@dt"
                                                   data-ajax-complete="postNavbar"
                                                   data-ajax-success="updateCurrentCount"
                                                   data-ajax="true">
                                                    @dt
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                </div>*@

                @Html.Partial("~/Views/Shared/_CategoryNavBar.cshtml", Model)

                <div id="policy_section" class="hidden">
                    <h2>Policies</h2>
                    <ul id="policy_list">
                        <!--need to check for no reference number documents with the policy !- null-->
                        @foreach (var policy in ViewBag.PolicyNavBar)
                        {
                            if (policy != null && policy.Length > 0) 
                            {
                                <li>
                                    <a href="@Url.Action("Index", "PublicVM", new
                                        {
                                            publicId = Model.First().Folder_ID,
                                            policyNumber = policy,
                                            subNav = subNavOptions.policy,
                                            prevNav = @policy
                                        })"
                                       class="navLink"
                                       data-ajax-update="#public_table"
                                       data-ajax-mode="replace-with"
                                       data-ajax-method="GET"
                                       data-subclass="policy"
                                       data-subclass-title="@policy"
                                       data-ajax-complete="postNavbar"
                                       data-ajax-success="updateCurrentCount"
                                       data-ajax="true">
                                       @policy
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div><!--nav_lists col-md-12-->
        </div><!--nav_lists_outer row--> 
    </nav>

    <div id="public_info" class="col-md-10">

        <div class="public_name_id row">
            <div class="col-md-6">
                <h3>Name: @TempData["Client_Name"]</h3>
            </div>
            <div class="col-md-6">
                <h3>ID: @TempData["Client_Id"]</h3>
            </div>
        </div>
        <div id="status-bar" class="row">
            <div class="col-md-12"><h4>Returning <span id="currentCount">@ViewData["currentRecordsCount"]</span> of @ViewData["allRecordsCount"] documents between <span id="currentLowYear">@(((List<SelectListItem>)TempData["YearRange"]).First().Text)</span> and <span id="currentHighYear">@(((List<SelectListItem>)TempData["YearRange"]).Last().Text)</span></h4></div>
        </div>

        <!--Search Box, Date Filters, clear, and submit button-->
        <div id="form-div">
            <form method="get" action="@Url.Action("Index")" data-otf-ajax="true" data-otf-target="#public_table" class="row">
                <div class="filter col-md-3">
                    <label for="search">Search Description:</label>
                    <input id="search" type="hidden" name="publicId" value="@Model.First().Folder_ID" />

                    <input id="searchInputBox" type="search" name="searchTerm" />
                    <fieldset>
                        Records per page:
                        <select id="pageSize" name="pageSize">
                            <option value=10>10</option>
                            <option value=20 selected>20</option>
                            <option value=50>50</option>
                            <option value=1000>All</option>
                        </select>
                    </fieldset>
                </div>
                <div class="filter col-md-3">
                    <label for="IssueDateMinRange">Starting year:</label>
                    @Html.DropDownList("IssueYearMinRange", TempData["YearRange"] as List<SelectListItem>, "Select a Year", new { @class = "datefield", type = "date" })
                    <br/>
                </div>
                <div class="filter col-md-3">
                    <label for="IssueDateMaxRange">Ending year:</label>
                    @Html.DropDownList("IssueYearMaxRange", TempData["YearRange"] as List<SelectListItem>, "Select a Year", new { @class = "datefield", type = "date" })
                    <br />
                </div>
                <div class="filter col-md-3 buttondiv">
                    @Ajax.ActionLink("Reset Search", "Index", new
               {
                   publicId = Model.First().Folder_ID
               }, new AjaxOptions
               {
                   HttpMethod = "GET",
                   InsertionMode = InsertionMode.ReplaceWith,
                   UpdateTargetId = "public_table",
                   OnComplete = "updateCurrentCount",
                   OnSuccess = "clearFields"
               }, new { @class = "button", id="clearButton" })
                    <input id="formSubmitId" type="submit" value="Search and Filter"/>
                </div>
            </form>
        </div>
        @Html.Partial("_PublicTable", Model)
    </div>
    <div class="c_b"></div>
</div>