@model IPagedList<PublicVM>

@{
    ViewBag.Title = "Westland Archive System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id ="main-row" class="row">
    <nav id="public_navigation" class="navbar navbar-default col-md-2 hidden-sm hidden-xs">

        <div class="nav-button row">
            <div class="cat_pol_switcher col-md-12">
                <h2>Category/Policy</h2>
                <h1>@ViewBag.Example</h1>

                <!-- Rounded switch -->
                <label class="switch">
                    <input type="checkbox" id="category_policy_toggle">
                    <div class="slider round"></div>
                </label>
            </div>
        </div>

        <div class="nav_lists_outer row">
            <div class="nav_lists col-md-12">

                @* Need a better way to place this JS *@
                <script type="text/javascript">

                    //adjust table for subnav column, also clears input fields
                    function postNavbar() {
                        $className = $('.active').children("a").data("subclass");
                        $classNameTitle = $('.active').children("a").data("subclass-title");

                        if ($classNameTitle == "Correspondence") {
                            $('#public_table').removeClass().addClass("correspondence");
                        } else if ($classNameTitle == "Declaration/Endorsement") {
                            $('#public_table').removeClass().addClass("declaration");
                        } else {
                            $('#public_table').removeClass().addClass($className);
                        }
                        

                        //need to check for form submit, then not do clearFields
                        if ($(this).hasClass('navLink') || $(this).hasClass('button')) {
                            clearFields();
                        }
                    }

                    //function to clear table/navbar/form to look like original content
                    function clearFields() {

                        $form = $('form');

                        $form.find("input[type=search]").val("");

                        $form.find("input[name='IssueDateMinRange']").val('@TempData["IssueDateMin"]');
                        $form.find("input[name='IssueDateMaxRange']").val('@TempData["IssueDateMax"]');

                        //may want to be more specific with check
                        if ($(this) == "a") {
                            $(".active").removeClass('active');
                        }
                    }

                    function updateCurrentCount() {
                        
                        var currentCount = $('#public_table').data('currentrecord');
                        $('#currentCount').text(currentCount);
                    }

                </script>

                <div id="category_section">
                    <h2>Categories</h2>

                    <ul id="category_list">
                        @foreach (var item in ViewBag.CategoryNavBar)
                        {
                            <li class="category_nav">
                                <div>
                                    <a href="@Url.Action("Index", "PublicVM", new {
                                            publicId = Model.First().Folder_ID,
                                            subNav = "category",
                                            prevNav = @item.CategoryName
                                        })"
                                       class="navLink"
                                       data-ajax-update="#public_table"
                                       data-ajax-mode="replace-with"
                                       data-ajax-method="GET"
                                       data-subclass="category"
                                       data-subclass-title="@item.CategoryName"
                                       data-ajax-complete="postNavbar"
                                       data-ajax-success="updateCurrentCount"
                                       data-ajax="true">
                                        @item.CategoryName
                                    </a>
                                    <ul id="docType_list">
                                        @foreach (var dt in item.DocumentTypeName)
                                        {
                                            <li>
                                                <a href="@Url.Action("Index", "PublicVM", new {
                                                        publicId = Model.First().Folder_ID,
                                                        subNav = "doctype",
                                                        prevNav = @dt
                                                    })"
                                                   class="navLink"
                                                   data-ajax-update="#public_table"
                                                   data-ajax-mode="replace-with"
                                                   data-ajax-method="GET"
                                                   data-subclass="doctype"
                                                   data-subclass-title="@dt"
                                                   data-ajax-complete="postNavbar"
                                                   data-ajax-success="updateCurrentCount"
                                                   data-ajax="true">
                                                    @dt
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                </div>

                <div id="policy_section" class="hidden">
                    <h2>Policies</h2>
                    <ul id="policy_list">
                        <!--need to check for no reference number documents with the policy !- null-->
                        @foreach (var policy in ViewBag.PolicyNavBar)
                        {
                            if (policy != null && policy.Length > 0) 
                            {
                                <li>
                                    <a href="@Url.Action("Index", "PublicVM", new
                                        {
                                            publicId = Model.First().Folder_ID,
                                            policyNumber = policy,
                                            subNav = "policy",
                                            prevNav = @policy
                                        })"
                                       class="navLink"
                                       data-ajax-update="#public_table"
                                       data-ajax-mode="replace-with"
                                       data-ajax-method="GET"
                                       data-subclass="policy"
                                       data-subclass-title="@policy"
                                       data-ajax-complete="postNavbar"
                                       data-ajax-success="updateCurrentCount"
                                       data-ajax="true">
                                       @policy
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div><!--nav_lists col-md-12-->
        </div><!--nav_lists_outer row--> 
    </nav>

    <div id="public_info" class="col-md-10">

        <div class="public_name_id row">
            <div class="col-md-6">
                <h3>Name: @TempData["Client_Name"]</h3>
            </div>
            <div class="col-md-6">
                <h3>ID: @TempData["Client_Id"]</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h4>Returning <span id="currentCount">@ViewData["currentRecordsCount"]</span> of @ViewData["allRecordsCount"] documents</h4></div>
        </div>
        

        <!--Search Box, Date Filters, clear, and submit button-->
        <div> <!--static form needs to pull this info somehow: subNav = ViewData["currentNav"], prevNav = ViewData["currentNavTitle"]-->
            <form method="get" action="@Url.Action("Index")" data-otf-ajax="true" data-otf-target="#public_table" class="row">
                <div class="filter col-md-4">
                    Search Description:
                    <br /> <!--Eventually no br and do this by css probably-->
                    <input id="search" type="hidden" name="publicId" value="@Model.First().Folder_ID" />

                    <input type="search" name="searchTerm" />
                </div>
                <div class="filter col-md-3">
                    Low Range Date:
                    @Html.TextBox("IssueDateMinRange", TempData["IssueDateMin"], new { @class = "datefield", type = "date" })
                </div>
                <div class="filter col-md-3">
                    High Range Date:
                    @Html.TextBox("IssueDateMaxRange", TempData["IssueDateMax"], new { @class = "datefield", type = "date" })
                </div>

                <div class="filter col-md-2 buttondiv">
                    @Ajax.ActionLink("Clear Search", "Index", new
               {
                   publicId = Model.First().Folder_ID
               }, new AjaxOptions
               {
                   HttpMethod = "GET",
                   InsertionMode = InsertionMode.ReplaceWith,
                   UpdateTargetId = "public_table",
                   OnComplete = "clearFields",
                   OnSuccess = "updateCurrentCount"
               }, new { @class = "button" })

                    <input type="submit" value="Search and Filter"/>
                </div>
            </form>
        </div>
        @Html.Partial("_PublicTable", Model)
    </div>
</div>

@*@section CustomScripts{
    <script>
    </script>  
}*@