@model DocSearch2._1.ViewModels.MiscPublicData

<tr>
    <td colspan="11">
        <table class="miscDocTable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Branch)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Creator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArchiveTime)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(model => model.Branch)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Creator)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ArchiveTime)
                </td>
            </tr>

        </table>

        @if ((string)ViewData["currentNav"] == "doctype") {
            <br/>
            <table>
                <tr>
                    <th>Reference Number</th>
                    <th>Document Type</th>
                    <th>Effective Date</th>
                    <th>Description</th>
                </tr>
                
                @foreach (var item in Model.DocReferences)
                {
                    <tr>
                        <td>@item.RefNumber</td>
                        <td>@item.RefNumberType_CD</td>
                        <td>@item.Date1_DT</td>
                        <td>@item.Text1</td>
                    </tr>
                }
            </table>
        }
    </td>
</tr>

