@model IEnumerable<PublicVM>

<!--Search Box, Date Filters, clear, and submit button-->
<div id="form-div">
    <form method="get" action="@Url.Action("Index")" data-otf-ajax="true" data-otf-target="#public_table" class="row">
        <input id="search" type="hidden" name="publicId" value="@TempData["Folder_Id"]" />
        <div id="status-bar-form" class="col-md-12 row">

            <div class="col-md-3">
                <fieldset>
                    Customize Date Range:
                    <input type="checkbox" name="customDates" id="customDates" value="customDates" />
                    <br />
                    Records from:
                    <select id="fromYear" name="IssueYearMinRange">
                        <option value="-1" selected>one year ago from today</option>
                        <option value="-2">two years ago from today</option>
                        <option value="-3">three years ago from today</option>
                        <option value="-100">All</option>
                    </select>
                </fieldset>
            </div>


            <div id="text-fill" class="col-md-6"><span id="status-message">Returning <span id="currentCount">@ViewData["currentRecordsCount"]</span> of @ViewData["allRecordsCount"] documents, <span id="currentLowYear">@(((List<SelectListItem>)TempData["YearRange"]).First().Text)</span> to <span id="currentHighYear">@(((List<SelectListItem>)TempData["YearRange"]).Last().Text)</span></span></div>
            <div class="col-md-3">
                @Ajax.ActionLink("Reset Search", "Index", new
           {
               publicId = TempData["Folder_Id"]
           }, new AjaxOptions
           {
               HttpMethod = "GET",
               InsertionMode = InsertionMode.ReplaceWith,
               UpdateTargetId = "public_table",
               OnComplete = "updateCurrentCount",
               OnSuccess = "clearFields"
           }, new { @class = "button", id = "clearButton" })
            </div>
        </div>
        <div class="form-inputs col-md-12 row">
            <div class="filter col-md-3">
                <label for="search">Search Description:</label>
                <input id="searchInputBox" type="search" name="searchTerm" />
                <br />
            </div>
            <div class="filter customDates col-md-3">
                <label for="IssueDateMinRange">Starting Issue Date:</label>
                @Html.DropDownList("IssueYearMinRange", TempData["YearRange"] as List<SelectListItem>, "Year", new { @class = "datefield", type = "date", disabled = "disabled" })
                <select id="startingMonth" name="IssueMonthMinRange" class="datefield"> @* should i do in html.dropdownlist style? *@
                    <option value="" selected>Month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <br />
            </div>
            <div class="filter customDates col-md-3">
                <label for="IssueDateMaxRange">Ending Issue Date:</label>
                @Html.DropDownList("IssueYearMaxRange", TempData["YearRange"] as List<SelectListItem>, "Year", new { @class = "datefield", type = "date", disabled = "disabled" })
                <select id="endingMonth" name="IssueMonthMaxRange" class="datefield">
                    <option value="" selected>Month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <br />
            </div>
            <div class="filter col-md-3 buttondiv">
                <br />
                <input id="formSubmitId" type="submit" value="Search and Filter" />
                <br />
            </div>
        </div>
    </form>
</div>
